absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
anyio
appnope
asttokens
astunparse
attrs
audioread
audioset-download
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
datasets
debugpy
decorator
dill
dotenv
executing
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gmpy2
google-pasta
grpcio
h11
h5py
hf-xet
httpcore
httpx
huggingface_hub
idna
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
lazy-loader
libclang
librosa
lightning
lightning-utilities
llvmlite
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mido
ml_dtypes
mpmath
msgpack
multidict
multiprocess
munkres
namex
nest-asyncio
networkx
numba
numpy
opt_einsum
optree
packaging
pandas
parso
pexpect
pillow
platformdirs
pooch
pretty_midi
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyamapping
pyarrow
pybind11
pybind11-global
pycparser
Pygments
pyparsing
python-dateutil
python-dotenv
python-osc
pytorch-lightning
PyYAML
pyzmq
requests
resampy
rich
sc3nb
scikit-learn
scipy
seaborn
setuptools
shellingham
six
soundfile
soxr
stack-data
sympy
tensorboardX
tensorflow
termcolor
threadpoolctl
torch
torchaudio
torchcodec
torchmetrics
torchvision
tornado
tqdm
traitlets
typer
typing_extensions
urllib3
wcwidth
wheel
widgetsnbextension
wrapt
xxhash
yarl
yt-dlp
zstandard